.jobbox{
    padding: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin: 30px 0px;
    border-radius: 5px;
}
.jobbox img{width: 70px;}

.jobbox h3{
    color: #cd1e14;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.jobskil a{
    background-color: #e1ebfb;
    padding: 8px;
    border-radius: 6px;
    color: #000000 !important;

    display: inline-block;
    text-align: center;
}

.appbtn a{
    background-color: #cd1e14;
    color: #ffffff !important;
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.jobdesclist{margin: 0px 0px 0px 10px;}
.jobdesclist li{
    list-style: none;
    padding-bottom: 8px;
    font-size: 15px;
    color: #000;
}
.jobdesclist li::before{
        content: "";
    border: 2px solid #cd1e14;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    margin-right: 8px;
    flex-shrink: 0;
    display: inline-block;

}

.jobdec{
    color: #cd1e14;
    margin-bottom: 7px;
    font-size: 16px;
}

.jobtbl{
  border-collapse: collapse;
  width: 100%;
}

.jobtbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cd1e14;
  color: white;
}

.jobtbl td{
  border: 1px solid #ddd;
  padding: 8px;
}
.jobtbl th {
  border: 1px solid #ddd;
  padding: 8px;
}
.jobtbl h6{
        margin-bottom: 0px;
    padding-bottom: 0px;
}

.jobtbl ul{
        margin: 5px 0px 10px 20px;
}

.lastinfc h5{    padding-bottom: 0px;    margin-bottom: 0px;}
.lastinfc a{ 
        color: #cd1e14 !important; margin-bottom: 9px; display: block;
}
